*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/*inzio header*/

header .header-bottom{
    padding-left: 20px;
}

.header-bottom ul li{
    list-style: none;
}

.header-bottom ul{
    padding-top: 10px;
}

.header-bottom ul li a{
    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
}

.header-bottom li{
    display: inline-block;
    margin-right: 15px;
}


#logo{
    width: 8%;
    padding: 15px;
    border-right: 1px solid lightgray;
}


/*fine header*/

main{
    height: 1000px;
}


/* inzio formatazione prima parte */
.prima_parte{
    height: 400px;
    margin-top: 25px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 10px 10px 10px 10px;
}

.tit-desc-prima_parte{
    padding: 200px 40px;
    color: white;
    font-size: 25px;
}

/* fine formatazione prima parte */


/* inzio formatazione titolo seconda parte */

.titolo{
    height: 10%;
    margin-bottom: 20px;
    padding: 10px 0;
}

.titolo h5{
    color: lightgray;
}

/* fine formatazione titolo seconda parte */


.seconda_parte{
    height: 600px;
    margin: 25px 0;
}

/* inzio formatazione colonne seconda parte */

 .img_1{
     width: 100%;
     height: 100%;
     background-size: cover;
 }

.titolo_paragrafi_colonne{
    margin: 2% 0;
}

.paragrafi_colonne{
    font-size: 17px;
    color: lightgray;
}

.img-contenitore{
    height: 250px;
}

#img_banner{
    width: 100%;
    height: 100%;
    background-size: cover;
}



.prima_colonna, .seconda_colonna, .terza_colonna {
    float: left;
}

.prima_colonna, .terza_colonna{
    width: 18%;
}

.seconda_colonna{
    width: 60%;
    margin: 0 2%;
}

.seconda_parte::after{
    content: '';
    display: table;
    clear: both;
}

/* fine formatazione colonnne seconda parte */


footer{
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

#cuore{
    color: red;
}
